asgiref==3.6.0
astroid==2.15.5
dataclasses==0.6
dill==0.3.6
Django==4.2.1
djongo==1.2.31
dnspython==2.3.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
packaging==23.1
platformdirs==3.5.1
plotly==5.14.1
pymongo==4.3.3
sqlparse==0.4.4
tenacity==8.2.2
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.5.0
wrapt==1.15.0
