{% extends 'base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock title %}


{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <h1>Welcome to admin dashboard</h1>
            <select name="trade-id"
                    class="form-control w-50"
                    hx-get="{% url 'admin_graph' %}"
                    hx-trigger="every 10s change"
                    hx-swap="#graph"
                    hx-target="#graph"
                    hx-indicator="#indicator">
                {% for trade in trades %}
                    <option value="{{ trade.id }}">{{ trade.trader.email }} {{ trade.balance }}</option>
                {% endfor %}
            </select>

            <div class="col-sm-12 justify-content-center" id="">
                {% include "partial/admin_graph.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
