{% extends 'base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock title %}


{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <h1>Welcome to admin dashboard</h1>
            <h3>The figure below shows your trading graph.</h3>
            <select name="trade-id"
                    class="form-control"
                    hx-get="{% url 'admin_user' %}"
                    hx-trigger="change"
                    hx-target="#graph">
                {% for trade in trade_list %}
                    <option value="{{ trade.id }}">{{ trade.trader.email }} {{ trade.balance }}</option>
                {% endfor %}
            </select>
            <div class="" id="graph">
                {% include "partial/admin_graph.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
