<!-- user_dashboard.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %}User Dashboard{% endblock title %}


{% block content %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <h2>Welcome to the User Dashboard</h2>
                <div 
                    hx-get="{% url 'user_graph' %}"
                    hx-trigger="every 10s change "
                    hx-target="#graph">
                </div>
            </div>

            <div class="col-sm-12 justify-content-center" id="">
                {% include "partial/user_graph.html" %}
            </div>

        </div>
    </div>
{% endblock content %}
