{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}
    <div class="container text-center mt-5">
        <h3 class="mb-3">Login to your dashboard</h3>
        <div class="row justify-content-center">
            <div class="col-sm-6 form-group">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}