{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}?{% now 'U' %}">
    <title>Trading View - {% block title %}Document{% endblock title %}</title>
</head>

    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link disabled">{{ user.get_full_name }}</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'create_account' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% if messages %}
            <div class="row">
                {% for message in messages %}
                    <div class="col-sm-8 alert alert-{{message.tags}} alert-dismissible fade shows">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %} {% endblock content %}

        <script>
            var graphData = '{{ graph|safe }}';
            var graphDiv = document.getElementById('graph');
            graphDiv.innerHTML = graphData;
        </script>
        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{% static './js/bootstrap.min.js' %}"></script>
        <script src="{% static './js/htmx.min.js' %}"></script>
    </body>
</html>